#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.main{
  display: flex;
}

.card {
  /* display: flex; */
  /* background-color: red; */
  border: 1px solid #ddd; /* Add a border */
  border-radius: 8px; /* Optional: Round the corners */
  padding: 16px; /* Add some padding */
  margin: 8px; /* Add some margin between cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.card div {
  /* Optional: Add styling to the inner divs */
  margin-bottom: 8px;
}

.card p {
  margin: 0; /* Remove default margin for paragraphs */
}